.no-margin{
	margin:0px;
}
.no-background-color{
	background-color:white;
}
.footer-nav{
	background-color:#222;
	border:3px black solid;
	text-align:center;
	
	color:#fff;
	font-size:120%;
	padding:10px;
}
#img-heading{
	background-color:rgb(51, 122, 183);
	color:white;
	font-size:110%;
}